<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>X Party</title>
</head>
<body>
    <div class="quest">
        <div class="center divider">
            <h1>Welcome</h1>
        </div>
        <div class="center marg-top-5 flex just-cent marg-bottom-10">
            <p>
                <a href="/">Main Page</a> | 
                <a href="/logout/">Logout</a>
            </p>
        </div>
        <div class="flex sp-even">
            <div>
                <h2 class="center">All Reservations</h2>
                <table class="center">
                    <thead>
                        <tr>
                            <th class="padding-5">Family Name</th>
                            <th class="padding-5"># of Adults</th>
                            <th class="padding-5"># of Kids</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for res in all_resv %}
                        <tr>
                            <td>{{res.name}}</td>
                            <td>{{res.num_adults}}</td>
                            <td>{{res.num_kids}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="flex just-right quest">
                    <h3>Adults: {{adult_total}}</h3>
                    <h3 class="marg-left-10">Kids: {{kid_total}}</h3>
                </div>
                <h2 class="center marg-top-10">Final Total: {{adult_total + kid_total}}</h2>
            </div>
            <div class="center">
                <h2 class="center marg-bottom-10">All Kid Names + Sizes</h2>
                {% for name in all_names %}
                <div>
                    <h3>{{name.capitalize()}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="centered strict divider">
            <h2 class="center marg-bottom-10">Questions</h2>
            <hr />
            {% for quest in all_questions %}
            <div class="padding-5 marg-top-10 quest">
                <h3 class="marg-bottom-5">Question:</h3>
                    <p class="marg-bottom-5">{{quest.q_text}}</p>
                    <div class="flex">
                        <p id="sm-font">
                            <a href="/delete/q/{{quest.id}}/">Delete</a>
                        </p>
                    </div>
            </div>
            {% if quest.maker.r_text == None %}
            <div class="center marg-top-10">
                <form action="/new/reply/" method="post">
                    <p>
                        <label><h3 class="marg-bottom-5">Response:</h3></label>
                        <textarea cols="45" row="4" name="r_text" id="response"></textarea> 
                    </p>
                    <input type="hidden" name="question_id" value="{{quest.id}}">
                    <p class="center marg-top-10 marg-bottom-10">
                        <input type="submit" value="Post Reply" id="button">
                    </p>
                </form>
            </div>
            {% endif %}
            {% if quest.maker.r_text != None %}
            <div class="marg-bottom-10 marg-top-10 quest padding-5">
                <h3 class="marg-bottom-5">Response:</h3>
                <p class="marg-bottom-5">{{quest.maker.r_text}}</p>
                <div class="flex">
                    <p id="sm-font">
                        <a href="/delete/r/{{quest.maker.id}}/">Delete</a>
                    </p>
                </div>
            </div>
            {% endif %}
            <hr />
            {% endfor %}
        </div>
    </div>
</body>
</html>