* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-image: url("/static/img/background.jpg");
    background-position: top;
    background-attachment: fixed;
    color: white;
}

thead {
    font-size: 18px;
}

tbody, #total, .total {
    font-size: 14px;
    background-color: #14324A;
}

a {
    color: white;
}

#sm-font {
    font-size: 12px;
}

.center {
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.relative {
    position: relative;
    right: 2%;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padd-bottom-5 {
    padding-bottom: 5px;
}

.marg-top-10 {
    margin-top: 10px;
}

.marg-bottom-5 {
    margin-bottom: 3px;
}

.marg-bottom-10 {
    margin-bottom: 10px;
}

.marg-bottom-20 {
    margin-bottom: 20px;
}

.marg-bottom-15 {
    margin-bottom: 15px;
}

.marg-right-5 {
    margin-right: 5px;
}

.marg-left-10 {
    margin-left: 10px;
}
.marg-left-20 {
    margin-left: 20px;
}

.divider {
    margin-top: 1%;
}

.marg-top-percent {
    margin-top: 3%;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.just-cent {
    justify-content: center;
}

.just-right {
    justify-content: right;
}

.sp-btw {
    justify-content: space-between;
}

.sp-even {
    justify-content: space-evenly;
}

.al-end {
    align-items: end;
}

.al-cent {
    align-items: center;
}

#astronaut {
    height: 150px; 
    width: auto;
    background-color: rgba(240, 248, 255, 0);
}

#balloons {
    height: 180px;
    width: auto;
}

#planets {
    width: 180px;
    height: auto;
    margin-top: 8px;
    border-radius: 0px 0px 25px 0px;
}

#input, #input-2, #input-3 {
    border: none;
    height: 20px;
}

#input {
    width: 25em;
}

#input-2 {
    width: 5em;
}

#input-3 {
    width: 16em;
    padding-left: 5px;
    margin: 5px 10px 10px 10px;
}

#button {
    padding: 5px;
    border: none;
    cursor: pointer;
}

#question {
    padding: 5px;
    resize: none;
    width: 23em;
}

#response {
    resize: none;
    width: 30em;
}

.gifts {
    background-image: url("/static/img/cloud.png");
    background-size: 280px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 59px 43px;
    color: #14324A;
}

.gifts-text {
    position: relative;
    left: 5.5%;
}

.border {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 35em;
    padding: 5px 5px 5px 10px;
    overflow-wrap: normal;
    background-color: rgba(255, 255, 255, 0.559);
    color: #14324A;
}

.blue-border {
    border: 2px solid white;
    width: 35em;
    padding: 5px 5px 5px 10px;
    background-color: #14324A;
}

.quest {
    background-color: #14324A;
}

.column {
    flex-direction: column;
}

.strict {
    width: 55em;
}

/* .rsvp {
    border: 2px solid white;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.276);
} */