* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-image: url("/static/img/background.jpg");
    background-position: top;
    background-attachment: fixed;
    color: white;
    width: 100%;
}

thead {
    font-size: 18px;
}

tbody, #total, .total {
    font-size: 14px;
    background-color: #14324A;
}

a {
    color: white;
}

#sm-font {
    font-size: 12px;
}

.center {
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.relative {
    position: relative;
    right: 2%;
}

.padding-3 {
    padding: 3px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padd-bottom-5 {
    padding-bottom: 5px;
}

.marg-top-10 {
    margin-top: 10px;
}

.marg-bottom-5 {
    margin-bottom: 3px;
}

.marg-bottom-10 {
    margin-bottom: 10px;
}

.marg-bottom-20 {
    margin-bottom: 20px;
}

.marg-bottom-15 {
    margin-bottom: 15px;
}

.marg-right-5 {
    margin-right: 5px;
}

.marg-right-10 {
    margin-right: 10px;
}

.marg-left-5 {
    margin-left: 5px;
}

.marg-left-10 {
    margin-left: 10px;
}
.marg-left-20 {
    margin-left: 20px;
}

.divider {
    margin-top: 1%;
}

.marg-top-percent {
    margin-top: 3%;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.just-cent {
    justify-content: center;
}

.just-right {
    justify-content: right;
}

.sp-btw {
    justify-content: space-between;
}

.sp-even {
    justify-content: space-evenly;
}

.al-end {
    align-items: end;
}

.al-cent {
    align-items: center;
}

#astronaut {
    height: 10em; 
    width: auto;
    background-color: rgba(240, 248, 255, 0);
}

#balloons {
    height: 13em;
    width: auto;
}

#planets {
    width: 180px;
    height: auto;
    margin-top: 8px;
    border-radius: 0px 0px 25px 0px;
}

#input, #input-2, #input-3, #input-4 {
    border: none;
    height: 20px;
}

#input {
    width: 25em;
}

#input-2 {
    width: 5em;
}

#input-3 {
    width: 16em;
    padding-left: 5px;
    margin: 10px;
}

#input-4 {
    width: 6.3em;
    padding-left: 2px;
    margin: 10px;
}

#button {
    padding: 5px;
    border: none;
    cursor: pointer;
}

form {
    width: fit-content;
}

#question {
    padding: 5px;
    resize: none;
    width: 55vw;
}

#response {
    resize: none;
}

.gifts {
    background-image: url("/static/img/cloud.png");
    background-size: 20em;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 5em 3em;
    color: #14324A;
}

.gifts-text {
    position: relative;
    left: 5.5%;
}

.border, .blue-border {
    width: 26em;
    padding: 5px 5px 5px 10px;
    overflow-wrap: normal;

}

.border {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.559);
    color: #14324A;
}

.blue-border {
    border: 2px solid white;
    background-color: #14324A;
}

.bottom-dotted {
    border-bottom: 2px ridge white;
    width: fit-content;
}

.quest {
    background-color: #14324A;
}

.column {
    flex-direction: column;
}

.fit-cont {
    width: fit-content;
}

#resp-text {
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
}

.underlined {
    border-bottom: 1px solid white;
}

.total-border {
    border: 1px solid white;
}